In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

dataset = pd.read_csv('train.csv')
y = dataset.iloc[:, -1].values

dataset.drop(['TARGET(PRICE_IN_LACS)', 'POSTED_BY'], axis = 1, inplace = True)

dataset.drop(['ADDRESS'], axis=1, inplace=True)

dataset = pd.get_dummies(dataset, drop_first = True)

X = dataset.iloc[:, :]



from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)



from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 10, random_state = 0)
regressor.fit(X_train, y_train)



import pickle

pickle.dump(regressor, open('model.pkl', 'wb'))
model = pickle.load(open('model.pkl', 'rb'))

In [4]:
dataset

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,BHK_OR_RK_RK
0,0,0,2,1300.236407,1,1,12.969910,77.597960,0
1,0,0,2,1275.000000,1,1,12.274538,76.644605,0
2,0,0,2,933.159722,1,1,12.778033,77.632191,0
3,0,1,2,929.921143,1,1,28.642300,77.344500,0
4,1,0,2,999.009247,0,1,22.592200,88.484911,0
...,...,...,...,...,...,...,...,...,...
29446,0,0,3,2500.000000,1,1,27.140626,78.043277,0
29447,0,0,2,769.230769,1,1,39.945409,-86.150721,0
29448,0,0,2,1022.641509,1,1,26.928785,75.828002,0
29449,0,0,2,927.079009,1,1,12.900150,80.227910,0
29450,0,1,2,896.774194,1,1,26.832353,75.841749,0